openapi: 3.0.3
info:
  title: Kairos Face Recognition & Emotion Analysis API
  version: '2.0'
  description: >-
    Kairos is a human-analytics platform that integrates facial recognition,
    emotion, and demographic data into apps and services over a REST-style API.
    The Face Recognition group enrolls, verifies, recognizes and detects faces
    against galleries you create; the Emotion Analysis group processes media
    (images/video) and returns the six universal emotions, demographics and
    attention tracking. Requests and responses are JSON; every request is
    authenticated with an app_id + app_key header pair.
  contact:
    name: Kairos Support
    url: https://www.kairos.com/support
    email: support@kairos.com
  x-apievangelist-generated: true
  x-apievangelist-source: https://kairos.docs.apiary.io/api-description-document
servers:
  - url: https://api.kairos.com
    description: Kairos production API
tags:
  - name: Face Recognition
    description: Detect, enroll, verify and recognize faces in photos against galleries.
  - name: Emotion Analysis
    description: Analyze emotion, demographics and attention in images and video.
  - name: Galleries
    description: Manage galleries and the subjects/face templates enrolled in them.
security:
  - app_id: []
    app_key: []
paths:
  /enroll:
    post:
      operationId: enroll
      tags: [Face Recognition]
      summary: Enroll a face into a gallery
      description: >-
        Takes a photo, finds the faces within it, and stores the faces into a
        gallery under a subject identifier you choose. Submit the photo as a
        publicly accessible URL, Base64-encoded image, or file upload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollRequest'
      responses:
        '200':
          description: Face enrolled (or an error envelope with HTTP 200).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EnrollResult'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /verify:
    post:
      operationId: verify
      tags: [Face Recognition]
      summary: Verify a face against an enrolled subject
      description: >-
        Takes a photo and compares it against a specific subject already
        enrolled in a gallery. Use the returned confidence value to decide
        whether the match is valid for your application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          description: Verification result (or an error envelope with HTTP 200).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RecognitionResult'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /recognize:
    post:
      operationId: recognize
      tags: [Face Recognition]
      summary: Recognize faces against a gallery
      description: >-
        Takes a photo, finds the faces within it, and matches them against all
        subjects enrolled in a gallery, returning candidate matches above the
        matching threshold (default 60%).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecognizeRequest'
      responses:
        '200':
          description: Recognition result with candidates (or an error envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RecognitionResult'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /detect:
    post:
      operationId: detect
      tags: [Face Recognition]
      summary: Detect faces and facial features
      description: >-
        Takes a photo and returns the facial features it finds as coordinates,
        plus attributes such as age, gender and glasses. Coordinates begin at
        the top-left of the photo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectRequest'
      responses:
        '200':
          description: Detection result (or an error envelope with HTTP 200).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DetectResult'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /gallery/list_all:
    post:
      operationId: listGalleries
      tags: [Galleries]
      summary: List all galleries
      description: Lists all of the galleries you have created. Requires no parameters.
      responses:
        '200':
          description: List of gallery ids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
  /gallery/view:
    post:
      operationId: viewGallery
      tags: [Galleries]
      summary: View subjects in a gallery
      description: Lists all of the subjects you have enrolled in a gallery.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryNameRequest'
      responses:
        '200':
          description: List of subject ids (or an error envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SubjectList'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /gallery/view_subject:
    post:
      operationId: viewSubject
      tags: [Galleries]
      summary: View face templates for a subject
      description: >-
        Displays all face_ids and enrollment timestamps for each template
        enrolled from a given gallery_name and subject_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectRequest'
      responses:
        '200':
          description: List of face templates (or an error envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/FaceTemplateList'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /gallery/remove:
    post:
      operationId: removeGallery
      tags: [Galleries]
      summary: Remove a gallery
      description: Removes a gallery and all of its enrolled subjects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryNameRequest'
      responses:
        '200':
          description: Removal status (or an error envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StatusMessage'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /gallery/remove_subject:
    post:
      operationId: removeSubject
      tags: [Galleries]
      summary: Remove a subject or face template
      description: >-
        Removes a subject from a gallery. If a face_id is supplied only that
        individual enrolled template is removed. Once the last subject is
        removed the gallery is removed automatically.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveSubjectRequest'
      responses:
        '200':
          description: Removal status (or an error envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StatusMessage'
                  - $ref: '#/components/schemas/ErrorEnvelope'
  /v2/media:
    post:
      operationId: createMedia
      tags: [Emotion Analysis]
      summary: Create a media object for processing
      description: >-
        Create a new media object (image or video) to be processed for emotion,
        demographics and attention. Provide the media via the source parameter.
      parameters:
        - name: source
          in: query
          required: true
          description: The source of the media. URL or file upload.
          schema:
            type: string
        - name: landmarks
          in: query
          required: false
          description: Set to 1 to receive facial feature points in the response.
          schema:
            type: integer
            default: 0
        - name: timeout
          in: query
          required: false
          description: Seconds to wait for processing. Default 10, max 60.
          schema:
            type: integer
            default: 10
            maximum: 60
      responses:
        '200':
          description: Media processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaResult'
        '202':
          description: Media accepted and still processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaProcessing'
  /v2/media/{id}:
    get:
      operationId: getMedia
      tags: [Emotion Analysis]
      summary: Get processed media results
      description: Returns the results of a specific uploaded piece of media.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the media.
          schema:
            type: string
      responses:
        '200':
          description: Media results (or a media-not-found status object).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaResult'
    delete:
      operationId: deleteMedia
      tags: [Emotion Analysis]
      summary: Delete media results
      description: Deletes media results and returns the status of the operation.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the media.
          schema:
            type: string
      responses:
        '200':
          description: Deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaStatus'
  /v2/analytics/{id}:
    get:
      operationId: getAnalytics
      tags: [Emotion Analysis]
      summary: Get overall impressions for media
      description: Returns the overall impressions from a specific uploaded piece of media.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the media.
          schema:
            type: string
      responses:
        '200':
          description: Aggregated impressions for the media (or a not-found status).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
components:
  securitySchemes:
    app_id:
      type: apiKey
      in: header
      name: app_id
      description: Your Kairos APP_ID, from https://developer.kairos.com.
    app_key:
      type: apiKey
      in: header
      name: app_key
      description: Your Kairos APP_KEY, from https://developer.kairos.com.
  schemas:
    ErrorEnvelope:
      type: object
      description: Kairos error envelope, returned (typically with HTTP 200) on failure.
      properties:
        Errors:
          type: array
          items:
            type: object
            properties:
              Message:
                type: string
                example: no faces found in the image
              ErrCode:
                type: integer
                example: 5002
    EnrollRequest:
      type: object
      required: [image, subject_id, gallery_name]
      properties:
        image:
          type: string
          description: Publicly accessible URL, file upload or Base64-encoded photo.
        subject_id:
          type: string
          description: Identifier for the face, defined by you.
        gallery_name:
          type: string
          description: Gallery to store the face in, defined by you.
        minHeadScale:
          type: number
          format: float
          default: 0.015
          description: Ratio of the smallest face to look for (0.015 to 0.5).
        multiple_faces:
          type: boolean
          default: false
          description: Enroll every detected face under the same subject_id.
    VerifyRequest:
      type: object
      required: [image, subject_id, gallery_name]
      properties:
        image:
          type: string
        subject_id:
          type: string
        gallery_name:
          type: string
    RecognizeRequest:
      type: object
      required: [image, gallery_name]
      properties:
        image:
          type: string
        gallery_name:
          type: string
        minHeadScale:
          type: number
          format: float
          default: 0.015
        threshold:
          type: number
          format: float
          default: 0.70
          description: Similarity threshold for a valid match (0 to 1).
        max_num_results:
          type: integer
          default: 10
          description: Maximum number of candidate matches returned.
    DetectRequest:
      type: object
      required: [image]
      properties:
        image:
          type: string
        minHeadScale:
          type: number
          format: float
          default: 0.015
        selector:
          type: string
          default: FRONTAL
          enum: [FRONTAL, FULL, PARTIAL, ROLL]
          description: Face detector orientation profile.
    FaceAttributes:
      type: object
      properties:
        lips: { type: string }
        asian: { type: number, format: float }
        gender:
          type: object
          properties:
            type: { type: string }
        age: { type: integer }
        hispanic: { type: number, format: float }
        other: { type: number, format: float }
        black: { type: number, format: float }
        white: { type: number, format: float }
        glasses: { type: string }
    Transaction:
      type: object
      properties:
        status: { type: string }
        topLeftX: { type: integer }
        topLeftY: { type: integer }
        gallery_name: { type: string }
        timestamp: { type: string }
        height: { type: integer }
        width: { type: integer }
        quality: { type: number, format: float }
        confidence: { type: number, format: float }
        subject_id: { type: string }
        face_id: { type: integer }
    Candidate:
      type: object
      properties:
        subject_id: { type: string }
        confidence: { type: number, format: float }
        enrollment_timestamp: { type: string }
    EnrollResult:
      type: object
      properties:
        face_id: { type: string }
        images:
          type: array
          items:
            type: object
            properties:
              attributes: { $ref: '#/components/schemas/FaceAttributes' }
              transaction: { $ref: '#/components/schemas/Transaction' }
    RecognitionResult:
      type: object
      properties:
        images:
          type: array
          items:
            type: object
            properties:
              transaction: { $ref: '#/components/schemas/Transaction' }
              candidates:
                type: array
                items: { $ref: '#/components/schemas/Candidate' }
    DetectResult:
      type: object
      properties:
        images:
          type: array
          items:
            type: object
            properties:
              status: { type: string }
              width: { type: integer }
              height: { type: integer }
              file: { type: string }
              faces:
                type: array
                items:
                  type: object
                  properties:
                    topLeftX: { type: integer }
                    topLeftY: { type: integer }
                    chinTipX: { type: integer }
                    chinTipY: { type: integer }
                    rightEyeCenterX: { type: integer }
                    rightEyeCenterY: { type: integer }
                    leftEyeCenterX: { type: integer }
                    leftEyeCenterY: { type: integer }
                    yaw: { type: integer }
                    pitch: { type: integer }
                    roll: { type: integer }
                    confidence: { type: number, format: float }
                    height: { type: integer }
                    width: { type: integer }
                    quality: { type: number, format: float }
                    face_id: { type: integer }
                    attributes: { $ref: '#/components/schemas/FaceAttributes' }
    GalleryList:
      type: object
      properties:
        status: { type: string }
        gallery_ids:
          type: array
          items: { type: string }
    SubjectList:
      type: object
      properties:
        status: { type: string }
        subject_ids:
          type: array
          items: { type: string }
    FaceTemplateList:
      type: object
      properties:
        status: { type: string }
        face_ids:
          type: array
          items:
            type: object
            properties:
              face_id: { type: string }
              enrollment_timestamp: { type: string }
    StatusMessage:
      type: object
      properties:
        status: { type: string }
        message: { type: string }
    GalleryNameRequest:
      type: object
      required: [gallery_name]
      properties:
        gallery_name: { type: string }
    SubjectRequest:
      type: object
      required: [gallery_name, subject_id]
      properties:
        gallery_name: { type: string }
        subject_id: { type: string }
    RemoveSubjectRequest:
      type: object
      required: [gallery_name, subject_id]
      properties:
        gallery_name: { type: string }
        subject_id: { type: string }
        face_id:
          type: string
          description: Optional. Remove only the individual template matching this face_id.
    MediaResult:
      type: object
      properties:
        id: { type: string }
        length: { type: integer }
        status_code: { type: integer }
        status_message: { type: string }
        media_info:
          type: object
          properties:
            file: { type: string }
            length: { type: integer }
            mime_type: { type: string }
            type: { type: string }
        frames:
          type: array
          items:
            type: object
            properties:
              time: { type: integer }
              people:
                type: array
                items: { type: object }
    MediaProcessing:
      type: object
      properties:
        status_code: { type: integer }
        id: { type: string }
        status_message: { type: string }
    MediaStatus:
      type: object
      properties:
        id: { type: string }
        status_code: { type: string }
        status_message: { type: string }
    Analytics:
      type: object
      properties:
        id: { type: string }
        impressions:
          type: array
          items:
            type: object
            properties:
              appearance: { type: object }
              average_emotion: { type: object }
              demographics: { type: object }
              duration: { type: integer }
              emotion_score: { type: object }
              id: { type: string }
              tracking: { type: object }
        media_info:
          type: object
          properties:
            filename: { type: string }
            length: { type: integer }
            mime_type: { type: string }
            type: { type: string }
